body{
    background-color: rgb(28, 28, 28);
}
.ME, .Social{
    text-align: center;
}

@media (orientation: landscape){
    body {
        width: 80%;
        height: auto;
        display:block;
        margin:auto;
    }
    .ME .gitlink img{
        width: 20%;
        height: auto;
        border-radius: 50%;
    }
    .Social a img{
        width: 10%;
        height: auto;
        background-color: rgb(31, 31, 31);
        border-radius: 45%;
    }
    discord iframe{
        text-align: right;
        position: relative;
        margin:-40% 0% 0% 0%;
    }
    video {
        margin:0% -30% 0% 0%;
    }
    video#bgvid {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url("./65517cf8-390b-47d8-8eb4-936f8d7663a9/background.png") no-repeat;
        background-size: cover;
      }
}

@media (orientation: portrait){
    body , discord iframe{
        display:block;
        margin:auto;
    }
    .ME .gitlink img{
        width: 50%;
        height: auto;
        border-radius: 50%;
    }
    .Social a img{
        width: 30%;
        height: auto;
        background-color: rgb(31, 31, 31);
        border-radius: 45%;
    }
    video#bgvid {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url("./65517cf8-390b-47d8-8eb4-936f8d7663a9/background.png") no-repeat;
        background-size: cover;
      }
}
