body{
    background-color: rgb(36, 36, 36);
}
.ME, .Social{
    text-align: center;
}

@media (orientation: landscape){
    body {
        width: 80%;
        height: auto;
        display:block;
        margin:auto;
    }
    .ME .gitlink img{
        width: 20%;
        height: auto;
        border-radius: 25%;
    }
    .Social a img{
        width: 10%;
        height: auto;
        background-color: rgb(31, 31, 31);
        border-radius: 45%;
    }
    discord iframe{
        text-align: right;
        position: relative;
        margin:-30% 0% 0% 0%;
    }
}

@media (orientation: portrait){
    body {
        display:block;
        margin:auto;
    }
    .ME .gitlink img{
        width: 50%;
        height: auto;
        border-radius: 25%;
    }
    .Social a img{
        width: 30%;
        height: auto;
        background-color: rgb(31, 31, 31);
        border-radius: 45%;
    }
}